# Cargo
target/
**/*.rs.bk
*.pdb

# Node
node_modules/
dist/
*.tsbuildinfo
.npmrc

# Build artifacts
.solx/                    # local solx appdata used for tests
*.log

# Editors
.idea/
.vscode/
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db
/platform-packages/solx-win32-x64-msvc
